@model HomeViewModel;

@{
    ViewData["Title"] = "Home Page";
}

<div id="page">
    <div id="maincontent">
        <canvas id="field" width="1400" height="800" style="border:1px solid #000000;"></canvas>
    </div>
    <div id="menuleftcontent">
        <form>
            <b>User</b>
            <input id="user" value="@Model.User" disabled/>
            <br/>
            <b>Network</b>
            <input list="networks" id="network" name="network"/>
            <datalist id="networks"></datalist>
            <br/>
            <b>Group</b>
            <input id="group" name="group"/>
            <input type="button" value="Create" onclick="createGroup()" />
            <br />
            <b>Group List</b>
            <select id="groupList" onchange="changeGroups()">
            </select>
            <br />
            <!--
            <input list="groups" id="groupList" name="groupList" onchange="changeGroups()"/>
            <datalist id="groups"></datalist>
            -->
            <input type="button" value="Refresh Groups" onclick="refreshGroups()"/>
            <br />
            <b>Units</b>
            <input type="text" id="units"/>
        </form>
    </div>
    <div id="clearingdiv"></div>
</div>
