@model HomeViewModel;

@{
    ViewData["Title"] = "Home Page";
}

<div id="page">
    <div id="maincontent">
        <canvas id="field" width="1400" height="800" style="border:1px solid #000000;"></canvas>
    </div>
    <div id="menuleftcontent">
        <form>
            <b>User</b>
            <input id="user" value="@Model.User" disabled/>
            <b>Network</b>
            <textarea id="network"></textarea>
            <b>Units on each side</b>
            <input type="text" id="units"/>
        </form>
    </div>
    <div id="clearingdiv"></div>
</div>
